<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new course</title>
  </head>
  <body>

    <h5>Add a new course</h5>
    <form class="" action="adding" method="post">
      <p>Name: <input type="text" name="name" value=""></p>
      <p>Description: <textarea name="description" rows="8" cols="80"></textarea></p>
      <input type="submit" value="Add">
    </form>

    {% for course in courses %}
    <h4>{{courses.name}}</h4>
    <h4>{{courses.description}}</h4>
    {% endfor %}

  </body>
</html>
